@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p>display za krajevne placeholderje</p>
    <div class="square">
        <h4>Ljubljana</h4>
        <h2>18°C</h2>
        <h7>Vlažnost: 90%</h7>
    </div>
    @using web.Services.GetDataService;
    @foreach(WeatherStation station in GetDataService.ws){
        @if(station != null){
            <div class="square">
                <h4>@station.MeteoId</h4>
                <h2>@station.Temp°C</h2>
                <h7>Vlažnost: @station.Hum%</h7>
            </div>  
        }
    }
    
</div>

<style>
    .square{
        padding-left: 5px;
        padding-right: 5px;
        margin: 20px;
        width:fit-content;
        height:fit-content;
        float: left;
        top: 50%;
        border: 1px black solid;
        border-radius: 1px;
    }
</style>
